* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-urd-hin.hin-urd.lrx -text
/apertium-urd-hin.hin-urd.t1x -text
/apertium-urd-hin.hin.dix -text
/apertium-urd-hin.urd-hin.dix -text
/apertium-urd-hin.urd-hin.lrx -text
/apertium-urd-hin.urd-hin.t1x -text
/apertium-urd-hin.urd.dix -text
/autogen.sh -text
/configure.ac -text
dev/bidix/ur-hi.nouns.00 -text
dev/bidix/ur-hi.nouns.01 -text
dev/bidix/ur-hi.nouns.02 -text
dev/bidix/ur-hi.nouns.03 -text
dev/bidix/ur-hi.nouns.04 -text
dev/bidix/ur-hi.nouns.05 -text
dev/bidix/ur-hi.nouns.06 -text
dev/bidix/ur-hi.nouns.07 -text
dev/bidix/ur-hi.nouns.08 -text
dev/bidix/ur-hi.nouns.09 -text
dev/bidix/ur-hi.nouns.10 -text
dev/bidix/ur-hi.nouns.11 -text
dev/bidix/ur-hi.nouns.12 -text
dev/bidix/ur-hi.nouns.13 -text
dev/bidix/ur-hi.nouns.14 -text
dev/conversion/adj.chopped.dix -text
dev/conversion/nouns.chopped.dix -text
dev/en-hi-ur.list -text
dev/urdu-hindi.proofread.txt -text
dev/wikt-nouns.sh -text
/hin-urd.prob -text svneol=unset#unset
/modes.xml -text
/pending-tests.sh -text
texts/story.hin.txt -text svneol=unset#application/octet-stream
texts/story.urd.txt -text
texts/story_new.urd.txt -text svneol=unset#application/octet-stream
texts/story_new_orig.hin.txt -text svneol=unset#application/octet-stream
texts/story_new_translated.hin.txt -text svneol=unset#application/octet-stream
/urd-hin.prob -text svneol=unset#unset
